/* Webfont: ApercuPro-Regular */@font-face {
    font-family: 'ApercuPro';
    src: url('ApercuPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('ApercuPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ApercuPro-Regular.woff') format('woff'), /* Modern Browsers */
         url('ApercuPro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ApercuPro-Regular.svg#ApercuPro-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

